/* list-style or list-style-type */
.alpha {
    /* alpha means alphabet */
    list-style: lower-alpha;
    list-style: upper-alpha;
}

.circle {
    list-style: disc;
    /* disc = default style of ul */
    list-style: circle;
}

.roman {
    /* i, Ⅱ */
    list-style: lower-roman;
}

.square {
    list-style: square;
    /* 基のスタイルに戻す=decimal */
    list-style: decimal;
}

.disc {
    list-style: disc;
}

/* list style position */
.ul-outside {
    background-color: gray;
    list-style-position: outside;
}

.ol-inside {
    background-color: aqua;
    list-style-position: inside;
    list-style: lower-alpha;
    /* shorthand code */
    list-style: upper-alpha inside;
}

li {
    background-color: yellow;
}
