* {
    color: grey;
    font-family: serif;
    /* font-size: 20px; */
}

/* colors */
.color {
    color: black;
}

.rgb {
    color: rgb(0, 0, 0);
}

.rgba {
    color: rgba(0, 0, 0, 1);
}

.hexcoda {
    color: #000000;
    /* white = #FFFFFF */
}

/* font-family */
.serif {
    font-family: serif;
}

.sans-serif {
    font-family: sans-serif;
    /* sans-serif means "without decoration" */
}

.monospace {
    font-family: monospace;
}

/* font-size */
.px {
    font-size: 16px;
    /* 16px = default size */
}

.em {
    font-size: 1em;
    /* 1em = 16px */
}

.percent {
    font-size: 100%;
}

/* font-weight */
.bold {
    font-weight: bold;
    font-family: sans-serif;
}

.lighter {
    font-weight: lighter;
    font-family: sans-serif;
}

.weight100 {
    font-weight: 100;
    font-family: sans-serif;
}

.weight900 {
    font-weight: 900;
    font-family: sans-serif;
}

/* font style */
/* italicとobliqueは同じ出力結果。 */
.italic {
    font-style: italic;
    font-family: sans-serif;
}

.oblique {
    font-style: oblique;
    font-family: sans-serif;
}

/* text transform */
.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

/* text-decoration */
.underline {
    text-decoration: underline;
}

.overline {
    text-decoration: overline;
}

.line-through {
    text-decoration: line-through;
}

.none {
    text-decoration: none;
}

/* text-align */
.right {
    text-align: right;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

/* text indent */
/* 文頭のインデント */
.text-indent-px {
    text-indent: 20px;
}

.text-indent-percent {
    text-indent: 20%;
}

.text-indent-em {
    text-indent: 2em;
}

/* letter spacing */
.letter-spacing-5px {
    letter-spacing: 5px;
}

.letter-spacing-15px {
    letter-spacing: 15px;
}

/* word-spacing */
.word-spacing-20px {
    word-spacing: 20px;
}

.word-spacing-30px {
    word-spacing: 30px;
}

.word-spacing-minus-10px {
    word-spacing: -10px;
}

